.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.userTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.userTable th,
.userTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.userTable th {
    background-color: #f2f2f2;
}

.userTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.block-button, .unblock-button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.block-button:hover, .unblock-button:hover {
    background-color: #cc0000;
}
