<div class="container">
    <table id="userTable" class="userTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Email</th>
                <th>User Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.name }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.userRole }}</td>
                <td>
                    <button *ngIf="user.isBlocked === false" class="block-button" (click)="blockUser(user)">Block</button>
                    <button *ngIf="user.isBlocked === true" class="unblock-button" (click)="unblockUser(user)">Unblock</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
