<table>
  <thead>
    <tr>
      <th>ID komentara</th>
      <th>Sadržaj komentara</th>
      <th>Approve</th>
      <th>Decline</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of comments">
      <td>{{ comment.id }}</td>
      <td>{{ comment.message }}</td>
      <td>
        <button *ngIf="!comment.isApproved" class="approve" (click)="approveComment(comment.id)">Approve</button>
      </td>
      <td>
        <button *ngIf="comment.isApproved" class="decline" (click)="declineComment(comment.id)">Decline</button>
      </td>
    </tr>
  </tbody>
</table>
