.editAdvertisementForm {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    width: 400px; /* Povećana širina forme */
    margin: 20px auto 0; /* Spuštanje forme nadole za 20px */
}

.editAdvertisementForm h2 {
    text-align: center;
    margin-bottom: 10px; /* Smanjen razmak ispod naslova */
}

.editAdvertisementForm label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px; /* Dodatni razmak između labela */
}

.editAdvertisementForm input[type="text"],
.editAdvertisementForm textarea {
    width: 100%; /* Popunjavanje širine roditeljskog elementa */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; /* Dodatni razmak ispod input polja */
}

.editAdvertisementForm input[type="submit"] {
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 30px; /* Manja visina, ali dužina ostaje ista */
    cursor: pointer;
    display: block; /* Da bi se dugme centriralo */
    margin: 0 auto; /* Centriranje dugmeta */
    width: 150px; /* Smanjena širina dugmeta */
}
