<div class="container">
  <div class="imgcontainer">
    <img src="assets/logo1.png" class="avatar">
  </div>
  
  <label for="uname"><b>Email</b></label>
  <input type="text" placeholder="Enter Email" name="uname">
  <br>
  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw">
  <button type="button" (click)="navigateToProfile()">Login</button>
  <input type="checkbox" checked="checked" name="remember"> Remember me
  <div>
    <span class="psw"><a [routerLink]="['/forgot-password']">Forgot password?</a></span>
  </div>
  <div>
    <span class="psw"><a [routerLink]="['/register']">Don't have account?</a></span>
  </div>
</div>
