<div class="container">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="advertisement.name">
  </div>

  <div class="form-group">
    <label for="price">Price:</label>
    <input type="text" id="price" [(ngModel)]="advertisement.price">
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" [(ngModel)]="advertisement.description"></textarea>
  </div>

  <div class="form-group">
    <label for="location">Location:</label>
    <input type="text" id="location" [(ngModel)]="advertisement.location">
  </div>

  <div class="form-group">
    <label for="image">Image:</label>
    <input type="file" id="image" (change)="onFileSelected($event)">
    <img [src]="advertisement.image" *ngIf="advertisement.image" alt="Advertisement Image">
  </div>

  <button type="button" (click)="onSubmit()">Submit</button>
  <button class="back-button" (click)="navigateToAdvertisements()">Back</button>
</div>
