
<div class="container">

    <div class="alphabetContainer">
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'A' }" (click)="onAlphabetClick('A')">A</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'B' }" (click)="onAlphabetClick('B')">B</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'C' }" (click)="onAlphabetClick('C')">C</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'D' }" (click)="onAlphabetClick('D')">D</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'E' }" (click)="onAlphabetClick('E')">E</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'F' }" (click)="onAlphabetClick('F')">F</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'G' }" (click)="onAlphabetClick('G')">G</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'H' }" (click)="onAlphabetClick('H')">H</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'I' }" (click)="onAlphabetClick('I')">I</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'J' }" (click)="onAlphabetClick('J')">J</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'K' }" (click)="onAlphabetClick('K')">K</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'L' }" (click)="onAlphabetClick('L')">L</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'M' }" (click)="onAlphabetClick('M')">M</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'N' }" (click)="onAlphabetClick('N')">N</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'O' }" (click)="onAlphabetClick('O')">O</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'P' }" (click)="onAlphabetClick('P')">P</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'Q' }" (click)="onAlphabetClick('Q')">Q</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'R' }" (click)="onAlphabetClick('R')">R</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'S' }" (click)="onAlphabetClick('S')">S</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'T' }" (click)="onAlphabetClick('T')">T</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'U' }" (click)="onAlphabetClick('U')">U</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'V' }" (click)="onAlphabetClick('V')">V</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'W' }" (click)="onAlphabetClick('W')">W</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'X' }" (click)="onAlphabetClick('X')">X</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'Y' }" (click)="onAlphabetClick('Y')">Y</div>
        <div class="alphabetFilter" [ngClass]="{ 'selected': firstLetter === 'Z' }" (click)="onAlphabetClick('Z')">Z</div>
    </div>

    <div class="sortContainer">
        <select id="priceSort" class="sortSelect" [(ngModel)]="sortBy" (change)="onSortChange(this.sortBy)">
            <option value="">Sort by</option>
            <option value="PriceASC">Sort by ASC price</option>
            <option value="PriceDESC">Sort by DESC price</option>
            <option value="NameASC">Sort by ASC name</option>
            <option value="NameDESC">Sort by DESC name</option>
        </select>
    </div>
    <table id="advertisementTable" class="advertisementTable">
        <tbody>
          <tr *ngFor="let ad of advertisements">
            <td>{{ ad.name }}</td>
            <td>{{ ad.price }}</td>
            <td>{{ ad.description }}</td>
            <td><button class="view-button" (click)="navigateToAdvertisementDisplay()">View</button></td>
            <td><button class="delete-button" (click)="deleteAdvertisement(ad.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>  
      <div class="pagination">
        <button class="pagination-button">
            <div class="pagination-content">1</div>
        </button>
    </div>  
</div>