<div class="header">
    <img src="./assets/logo1.png" alt="Logo" class="logo">
    <div class="search" style="position: relative;">
        <input type="text" id="searchInput" placeholder="Search..." class="searchInput">
        <span class="searchIcon"></span>
    </div>
    <div class="addAdvertisement">
        <button>
            <span class="icon">+</span> Add Advertisement
        </button>
    </div>
    <button class="logout">
        <span class="logoutIcon"></span>
    </button>
    <button class="profile">
        <span class="profileIcon"></span>
    </button>
</div>
