<div class="changePasswordForm">
    <h2>Change Password</h2>
    <form>
        <label for="newPassword">New Password:</label>
        <input type="password" [(ngModel)]="newPassword" id="newPassword" name="newPassword" required>

        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" [(ngModel)]="confirmNewPassword" id="confirmPassword" name="confirmPassword" required>
    </form>
    <button class="greenButton" type="submit" (click)="editProfile()">Submit</button>
    <button routerLink="/home/profile/edit-profile">Go Back</button>
</div>
