<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="advertisement-display.component.css">
</head>
<body>

<div class="container">

    <div class="alphabetContainer">
        <div class="alphabetFilter">A</div>
        <div class="alphabetFilter">B</div>
        <div class="alphabetFilter">C</div>
        <div class="alphabetFilter">D</div>
        <div class="alphabetFilter">E</div>
        <div class="alphabetFilter">F</div>
        <div class="alphabetFilter">G</div>
        <div class="alphabetFilter">H</div>
        <div class="alphabetFilter">I</div>
        <div class="alphabetFilter">J</div>
        <div class="alphabetFilter">K</div>
        <div class="alphabetFilter">L</div>
        <div class="alphabetFilter">M</div>
        <div class="alphabetFilter">N</div>
        <div class="alphabetFilter">O</div>
        <div class="alphabetFilter">P</div>
        <div class="alphabetFilter">Q</div>
        <div class="alphabetFilter">R</div>
        <div class="alphabetFilter">S</div>
        <div class="alphabetFilter">T</div>
        <div class="alphabetFilter">U</div>
        <div class="alphabetFilter">V</div>
        <div class="alphabetFilter">W</div>
        <div class="alphabetFilter">X</div>
        <div class="alphabetFilter">Y</div>
        <div class="alphabetFilter">Z</div>
    </div>

    <div class="sortContainer">
        <select id="priceSort" class="sortSelect">
            <option value="asc">Sort by</option>
            <option value="asc">Sort by ASC price</option>
            <option value="desc">Sort by DESC price</option>
            <option value="asc">Sort by ASC name</option>
            <option value="desc">Sort by DESC name</option>
        </select>
    </div>
    <table id="advertisementTable" class="advertisementTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Advertisement 1</td>
                <td>$100</td>
                <td>Nudim polovan automobil</td>
            </tr>
            <tr>
                <td>Advertisement 2</td>
                <td>$200</td>
                <td>Nudim polovan telefon</td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
