<div class="advertisement-form">
  <div class="form-group">
    <label for="name">Name:</label>
    <div class="static-text">{{ advertisement.name }}</div>
  </div>

  <hr>

  <div class="form-group">
    <label for="price">Price:</label>
    <div class="static-text">{{ advertisement.price }}</div>
  </div>

  <hr>

  <div class="form-group">
    <label for="description">Description:</label>
    <div class="static-text">{{ advertisement.description }}</div>
  </div>
  
  <hr> 

  <div class="form-group">
    <label for="commentaries">Reviews:</label>
    <div class="static-text">
      <ul>
        <li *ngFor="let comment of comments">
          <div>{{ '- ' + comment.message + ' ' + '&#9733;'.repeat(comment.rating) }}</div>
        </li>
      </ul>
    </div>
  </div>
  
  <hr>

  <div class="form-group">
    <label for="description">Contact:</label>
    <div class="static-text">{{ user.email }}</div>
  </div>

  <hr>

  <div class="button-group">
    <button *ngIf="advertisement.advertisementStatus === 0" class="purchase-button" (click)="purchaseAdvertisement()">Reserve</button>
    <button class="back-button" (click)="navigateToAdvertisements()">Back</button>
  </div>    
</div>
