body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    width: 400px; /* Širina kontejnera */
  }
  
  input[type=text], input[type=password], input[type=email] {
    width: calc(111% - 40px); /* Širina će biti 100% minus 40 piksela paddinga sa svake strane */
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .imgcontainer {
    text-align: center; /* Postavljanje teksta u centar */
    margin-bottom: 20px; /* Dodavanje margine na dno */
  }
  
  img.avatar {
    width: 400px; /* Prilagodite veličinu slike po potrebi */
    border-radius: 50%;
  }
  